* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PixaletedPusab, sans-serif;
}

@font-face 
{
    font-family: PixaletedPusab ;
    src: url('PixelatedPusab.ttf');
}

body
{
    background: url(background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover !important;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main
{
    margin: auto;
    margin-top: 50px;
    width: 450px;
}

.cloud div {
    position: fixed;
    top: 0;
    left: -200px;
    height: auto;
    width: 150px;
    animation: move 25s linear infinite;
}

.cloud div img{
    max-width: 100%;
    height:auto;
    opacity: 25%;
}

#horse-gif{
    position: fixed;
    bottom: 10;
    left: -10000px;
    height: auto;
    animation: move 2.5s linear infinite;
}

@keyframes move {
    0% {left: -500px;}
    100% {left: 100%;}
}

#display
{
    font-size:100px; 
    background: transparent;
    content: center;
    color: whitesmoke;
    border-bottom: transparent;
}

#title
{
    padding-top: 100px;
    color: whitesmoke;
    font-size: 70px;
    text-align: center;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;

}

@keyframes float
{
    0%
    {
        transform: translatey(0px); 
    }

    50%
    {
        transform: translatey(20px);
    }

    100%
    {

    }
}

.interact
{
   text-align: center;
   background: transparent;
   padding: 30px 0;
}
body{
    font-family: PixelatedPusab, sans-serif;
}

button
{
    font-size: 30px;
    margin: 0;
    padding: 5px 15px;
    text-transform: uppercase;
    background: transparent;
    color: whitesmoke;
    border: none;
    outline: none; 
}

button:hover
{
    color: rgb(204, 96, 19);
}

@media (min-width: 1000px) 
{
    img {
      position: absolute  
    }
}
